{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="192F0BE9A42D9C8DB5036713CF639E56" />
    <meta name="google-site-verification" content="5-PtLlhvPPzDcnmunydJOcMQIo8EmEoSNdp9nCeRiRU" />
    <meta name="description" content="Need to download Quicken? Get the official Quicken software for Windows or Mac, plus a step-by-step guide to install, activate, and get started fast." />
    <meta name="keywords" content="download Quicken, install Quicken Windows, install Quicken Mac, Quicken 2025 download, Quicken software installation guide" />
    <meta name="robots" content="index, follow" />

    {{ super() }}
{% endblock %}
